#drupal-off-canvas .select2-container {
  box-sizing: border-box;
  display: block;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: .25rem;
}

#drupal-off-canvas .select2-container .select2-selection__rendered {
  background-color: transparent;
}

#drupal-off-canvas .select2-container .select2-selection__rendered li {
  display: inline-block;
}

#drupal-off-canvas .select2-container .select2-selection,
#drupal-off-canvas .select2-container .select2-search ,
#drupal-off-canvas .select2-container .select2-search__field {
  background-color: white;
}

#drupal-off-canvas .select2-container .select2-search__field {
  color: #333;
}

#drupal-off-canvas .select2-container .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#drupal-off-canvas .select2-container .select2-selection__choice,
#drupal-off-canvas .select2-container .select2-search {
  margin: .125rem;
  padding: .125rem .25rem;
  border-radius: .25rem;
  cursor: default;
  float: left;
  font-size: .875rem;
}

#drupal-off-canvas .select2-container .select2-selection__choice__remove {
  background-color: transparent;
  color: #f00;
  font-weight: bold;
  margin-right: .25rem;
  font-size: .75rem;
  border-right: 1px solid #fff;
  padding-right: .25rem;
  cursor: pointer;
}


